<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block mytitle%}this is empty title {%endblock%}</title>
</head>
<body>
<p>this is header</p>
{% block mycontent%} {%endblock%}
<p>this is footer</p>
</body>
</html>


