{%extends "polls/base.html"%}
{%block mytitle%} {{question.text}}{%endblock%}
{%block mycontent%}
<center>
    {{ question.text}}
    <form method="post" action="/polls/{{ question.id }}/vote/">
        {% csrf_token %}
        {% for ch in question.choice_set.all %}
        <p>
            <input type="radio" name="choice" value="{{ ch.id }}">
            <i>{{ ch.text }}========>{{ch.vote}}</i>
        </p>
        {% endfor %}}

        <input type="submit" value="submit vote">
    </form>
    {%endblock%}
