{%extends "polls/base.html"%}
{% block mytitle%}list page {%endblock%}
{%block mycontent%}

 {%for q in questions%}
 <p>

 <div><a href="/polls/{{ q.id }}"> {{q.text}}</a></div>
 </p>

 {%endfor%}
{%endblock%}






