{% extends "blogs/base.html" %}

{% block title %}{{ article.title|title }}{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ article.title|title }}</h5>
        <p class="card-text">{{ article.description }}</p>
        <p class="card-text">Views {{ article.view }}</p>
        <p class="card-text">Author {{ article.author }}</p>
    </div>
</div>
<hr>
<h3> Total reviews :{{art}}</h3>

{% for review in article.review_set.all %}
<div class="card">
    <div class="card-header">
        {{ review.rate }} stars
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>{{ review.review }}</p>
            <footer class="blockquote-footer">{{ review.created|timesince }}  ago by {{ review.user.username }}</footer>
        </blockquote>
    </div>
</div>

{% endfor %}
<form method="post" class="m-3" action="/blogs/{{article.id}}/review/">
    {% csrf_token %}
{{form.as_p}}
    <input type="submit" value="Submit Review">
</form>

{% endblock %}