{% extends "blogs/base.html" %}

{% block content %}
<h2>Current time is {% now "Y M d H:i:s" %}</h2>
Total count {{ datas|length }}
{%for article in datas%}
<div class="card text-center">
      <div class="card-header">
        Featured
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ article.title|title }}</h5>
        <p class="card-text">{{ article.description|truncatewords:5 }}</p>
        <a href="/blogs/{{ article.id }}" class="btn btn-primary">View More</a>
      </div>
      <div class="card-footer text-muted">
        {{ article.created|timesince}}
      </div>
    </div>
{%empty%}
<h1>No content available</h1>


{% endfor %}

var is {{ newvar|default:"default" }}.


{%endblock%}

