{% extends "blogs/base.html" %}
{%block content%}
<center>
    <h2>Login Form</h2>
<form method="post">
    {% csrf_token%}
    {{ form.as_p}}
    <input type="submit" value="Login">
</form>
</center>
{%endblock%}